

#app-title{
    cursor: pointer;
    font-size: xxx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body {
    background: #000000;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    text-align: center;
}

form {
    width: 65%;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
}



.input {
    display: flex;
    align-items: center;
}

input:focus {
    outline: none;
    outline: 1px solid black;
    box-shadow: 0 0 4px #ffffff;
    
}

.button {
    height: 44px;
    border: none;
}


.input-boxes {
    width: 36rem;
    background: #FDFCFB;
    font-family: monospace;
    color: #737373;
    text-indent: 7%;
    border-radius: 10px;
}


#submit {
    width: 14%;
    height: 44px;
    background: #e5e5e5;
    color: #000000;
    font-size: 0.8rem;
    font-family: monospace;
    border: 1px solid black;
    border-radius: 10px;
    letter-spacing: 6px;
    cursor: pointer;
    margin-top: 23px;

    transition-property: background, letter-spacing, width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}


#submit:hover{
    background: #ffffff;
    width: 15%;
    letter-spacing: 0px;
}

#footer{
    font-size: 10px;
    font-family: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

#password-radio{
    display: block;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
