#app-title{
    font-size: xxx-large;
    font-family: 'Alfa Slab One', cursive;
}

body {
    background: #000000;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    text-align: center;
}

form {
    width: 65%;
    margin: 10% auto;
}


.header {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
}


.description {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin: -2px 0 45px;
}


.input {
    display: flex;
    align-items: center;
}


.button {
    height: 44px;
    border: none;
}


.input-boxes {
    width: 75%;
    background: #FDFCFB;
    font-family: monospace;
    color: #737373;
    text-indent: 2%;
    border-radius: 10px;
}


#submit {
    width: 15%;
    height: 49px;
    background: #A8FE39;
    color: #000000;
    font-family: monospace;
    font-weight: bold;
    /* color: inherit; */
    letter-spacing: 6px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 23px;
    
    transition-property: background, letter-spacing, width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}


#submit:hover{
    background: #EDFF08;
    width: 15%;
    letter-spacing: 0px;
}


input:focus {
    outline: none;
    outline: 1px solid #020077;
    box-shadow: 0 0 4px #ffffff;
    
}

#linkhere{
    display: none;
}

#footer{
    font-size: 10px;
    font-family: inherit;
    display: flex;
    cursor: pointer;
    justify-content: center;
    flex-direction: row;
}

#password-radio{
    display: block;
}

#password-here{
    width: 24rem;
    margin-left: 253px;
}