body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > div > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#msg-box{
    width: 10rem;
}
@media screen and (min-width: 1332px) {
    #submit {width: 100%}
}