body{
    background-color: black;
}

body > h1{
    color: white;
    display: flex;
    justify-content: center;
}
body > div > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#msg-box{
    color: rgb(0, 0, 0);
    width: 17rem;
    display: flex;
    align-self: center;
    height: 5rem;
    margin: 16px;
    font-family: monospace;
    text-indent: 10px;
}

#submit{
    width: 44%;
    height: 44px;
    background: #A8FE39;
    color: #000000;
    font-family: monospace;
    font-size: 14px;
    letter-spacing: 6px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

#footer > p{
    font-size: 10px;
    font-family: inherit;
    color: white;
    display: flex;
    cursor: pointer;
    justify-content: center;
}

@media screen and (min-width: 1332px) {
    #submit {width: 20%}
}