#top-bar {
    background-color: #A8FE39;
    flex-direction: column;
    border-radius: 16px;
}

#top-bar>a {
    cursor: pointer;
    margin-top: 0.6rem;
    text-decoration: none;
    padding: 0.5rem;
    color: black;
}
#top-bar>a:active {
    cursor: progress;
    color: rgb(255, 255, 255);
}
/* #top-bar>a:visited {
    cursor: progress;
    color: rgb(25, 0, 255);
} */

#top-bar-button {
    border-radius: 16px;
    background-color: #A8FE39;
    color: black;
    cursor: pointer;
    padding: 0.5rem;
    text-decoration: none;
}