<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B2098R4JCB"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-B2098R4JCB');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='SUPERICON.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 1311px)" href="{{ url_for('static', filename='css/home_mini_screen.css') }}">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 450px)" href="{{ url_for('static', filename='css/home_mobile_screen.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth_redirect.css') }}">
    <title>Password protected</title>
</head>
<body style="background-color : #4040d6;">

    <header style="display: flex;
    place-content: space-between;
    align-items: baseline;
    margin: 15px;">
        
            <h1 id="app-title" onclick="window.location.reload(true)">Super URL</h1>
            <div>
                <!-- <img style="width: 72px;height: 72px;" src="../files/tea.gif" alt=""> -->
                <!-- <a style="color: white;" href="https://www.buymeacoffee.com/anasraza" target="_blank" rel="noopener noreferrer">Buy me a coffee</a> -->
                <a style="color: white;" href="/report-a-problem" rel="noopener noreferrer">Report a problem</a>
            </div>
    </header>
    <div>
        <form action="" method="post" class="w-full flex flex-col items-center">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="password" name="passcode" class="button input-boxes" id="passcode" placeholder="{{input_message}}">
            <button style="letter-spacing: 0px;" type="submit" method="post" id="submit">Access</button>
        </form>
    </div>

    <footer id="footer">
        <p onclick="click_redirect_to_anas()">&copy 2023 Dewsverse by Anas Dew</p>
    </footer>
</body>
</html>