<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B2098R4JCB"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-B2098R4JCB');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5915669766823865"
     crossorigin="anonymous"></script>
    <link rel="canonical" href="https://superurl.pythonanywhere.com/"/>
    <meta name="theme-color" content="#109973"/>
    <meta name="google-site-verification" content="ZvHr_E9-WR_hVxKzOr3-EOrLyuzPb02NBpWE0dPZ5T8" />

    <link rel="stylesheet" rel="preload" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/top_bar.css') }}"> -->
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 1311px)" href="{{ url_for('static', filename='css/home_mini_screen.css') }}">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 450px)" href="{{ url_for('static', filename='css/home_mobile_screen.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='SUPERICON.png') }}">
    <script async src="{{ url_for('static', filename='js/main.js') }}"></script>

    <style>
        #footer > p {
            margin-right: 3px;
        }
        #footer > a {
            margin-right: 3px;
        }
    </style>

    <title>URL Shortener - Short URLs , Free Link Shortener | Super URL</title>
    <meta name="description" content="free URL shortener to reduce long link and set password to links. It is totally free of cost and secure. Try it out."/>

    <meta name="keywords" content="short url, shorten url, link shortener free online, link shortener, superurl, password protected links, acortador de link, google url, encurtador de link, tiny">

</head>

<body style="background-color : #4040d6;">
    <header>

        <div style="display: flex;
        place-content: space-between;
        align-items: baseline;
        margin: 15px;">
            <h1 id="app-title" onclick="window.location.reload(true)">Super URL</h1>
            <div>
                <!-- <img style="width: 72px;height: 72px;" src="../files/tea.gif" alt=""> -->
                <!-- <a style="color: white;" href="https://www.buymeacoffee.com/anasraza" target="_blank" rel="noopener noreferrer">Buy me a coffee</a> -->
                <a id="newsletter" style="color: white;margin-top: 5px;" href="https://medium.com/subscribe/@anasdew" target="_blank" rel="noopener noreferrer">SUBSCRIBE to newsletter</a>
            </div>
        </div>
    </header>

    <form action="/" method="post" id="link-short-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text"  name="oglink" class="button input-boxes" id="og-link" placeholder="{{push_msg}}">

        <input type="text" name="password-here" style="display: none;margin-top: 14px;" class="button input-boxes" id="password-here" placeholder="Password">
        <div id="password-radio">
            <input type="checkbox" onclick="get_password()" name="p-radio" id="p-radio">
            <label for="p-radio">Password Protection</label>
        </div>


        <button type="submit" method="post" class="button button-style" id="submit" onclick="copy_text()">short</button>
        <h4 name="linkhere" style="display: none;" id="linkhere">{{push_link}}</h4>
    </form>

    <div>
        <!-- home ad -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5915669766823865"
     crossorigin="anonymous"></script>
        <!-- square -->
        <ins class="adsbygoogle"
            style="display:inline-block;width:300px;height:300px"
            data-ad-client="ca-pub-5915669766823865"
            data-ad-slot="3021115437"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    </div>

    <div>
        <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="anasraza" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FF813F" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
    </div>
    <footer id="footer">
        <a href="https://www.producthunt.com/posts/super-url?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-super&#0045;url" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=363837&theme=neutral" alt="Super&#0032;URL - Keep&#0032;it&#0032;a&#0032;secret | Product Hunt" style="width: 140px; height: 50px;" width="250" height="54" /></a>
        <a style="color: white;" href="/report-a-problem" rel="noopener noreferrer">Report a problem</a>
        <p onclick="click_redirect_to_anas()">&copy Anas Raza 2022</p>
    </footer>
</body>

</html>