<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/not_found.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='SUPERICON.png') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Not Found</title>
</head>
<body>
    <div class="mt-5">
        <h1 class="text-3xl text-white" >Most people are broken.</h1>
        <p class="text-white">And so this link.</p>
        <br>
        <p class="text-white">But you can always heal by starting up again. So do it by <a class="text-blue-600 " href="/" rel="noopener noreferrer">generating a new link</a></p>
        
        <!-- <a href="/report-a-problem" rel="noopener noreferrer">Report a problem</a> -->
    </div>

    <footer id="footer">
        <p>&copy 2023 Super URL by Anas Dew</p>
    </footer>
</body>
</html>