<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/report_a_problem.css') }}">
    <title>Report a problem</title>
    <script>
        window.onload = function () {
    history.replaceState("", "", "/report-a-problem");
    };
    </script>
</head>
<body>
    <h1>Descibe your problem</h1>
    <div>
        <form action="/report-a-problem" method="post">

            <textarea id="msg-box" name="msg-box" rows="4" cols="4" placeholder="Write here..."></textarea>
            <input type="submit" value="Submit" id="submit">
            <button id="submit"><a href="/">Home</a></button>
        </form>
    </div>

    <footer id="footer">
        <p onclick="click_redirect_to_anas()">Anas-Dew @ 2022</p>
    </footer>
</body>
</html>